body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App,
.baseapp {
  background-color: whitesmoke;
}
.Selection {
  text-align: center;
  background-color: whitesmoke;
  padding: 10px;
}

.footer-section {
  display: flex;
  justify-content: space-between;
}

.footerright {
  text-align: right;
}

.footerright,
.footerleft {
  padding: 1rem;
}
